.contact__list {
  width: 600px;
  padding-inline: 40px;
  margin-inline: auto;
}

.contact__item {
  display: flex;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.contact__name {
  margin-right: 10px;
}

.contact__number {
  margin-right: auto;
  font-weight: 500;
}

.contact__deleteBtn {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #4fa1e4;
  border: 1px solid #4fa1e4;
  font-style: normal;
  display: inline-block;
  margin-left: auto;
  height: 20px;
}

.message {
  width: 600px;
  margin-inline: auto;
  color: #4fa1e4;
  padding-inline: 40px;
}